

.App{
    border: 1px solid #8e8e8e;
    width: 550px;
    margin: 120px auto;
    border-radius: 5px;
}

.todo-list{
    border: 1px solid #8e8e8e;
    margin: 5px;
}

.todo-list > div:nth-child(even){
    background: #dadada;
}


